/Projekty/PPong_ImGui/PPong_ImGui/x64/Debug/
/Projekty/PPong_ImGui/x64/Debug/
/Projekty/PPong_ImGui/.vs/
/Dokumenty/Materiały/BasicsOfC++/.vs/BasicsOfC++/FileContentIndex/a6c2c3d1-53a5-4b32-8220-4c657e98ba2d.vsidx
/Dokumenty/Materiały/BasicsOfC++/.vs/BasicsOfC++/FileContentIndex/read.lock
/Dokumenty/Materiały/BasicsOfC++/.vs/BasicsOfC++/v17/.suo
/Dokumenty/Materiały/BasicsOfC++/.vs/BasicsOfC++/v17/Browse.VC.db
/Dokumenty/Materiały/BasicsOfC++/.vs/BasicsOfC++/v17/ipch/AutoPCH/6c99f882a6c60645/BASICSOFC++.ipch
/Dokumenty/Materiały/BasicsOfC++/.vs/BasicsOfC++/v17/ipch/AutoPCH/983d0fca6fc09158/INHERITANCE.ipch
/Dokumenty/Materiały/BasicsOfC++/x64/Debug/BasicsOfC++.exe
/Dokumenty/Materiały/BasicsOfC++/x64/Debug/BasicsOfC++.exe.recipe
/Dokumenty/Materiały/BasicsOfC++/x64/Debug/BasicsOfC++.ilk
/Dokumenty/Materiały/BasicsOfC++/x64/Debug/BasicsOfC++.log
/Dokumenty/Materiały/BasicsOfC++/x64/Debug/BasicsOfC++.obj
/Dokumenty/Materiały/BasicsOfC++/x64/Debug/BasicsOfC++.pdb
/Dokumenty/Materiały/BasicsOfC++/x64/Debug/BasicsOfC++.tlog/BasicsOfC++.lastbuildstate
/Dokumenty/Materiały/BasicsOfC++/x64/Debug/BasicsOfC++.tlog/CL.command.1.tlog
/Dokumenty/Materiały/BasicsOfC++/x64/Debug/BasicsOfC++.tlog/CL.read.1.tlog
/Dokumenty/Materiały/BasicsOfC++/x64/Debug/BasicsOfC++.tlog/CL.write.1.tlog
/Dokumenty/Materiały/BasicsOfC++/x64/Debug/BasicsOfC++.tlog/link.command.1.tlog
/Dokumenty/Materiały/BasicsOfC++/x64/Debug/BasicsOfC++.tlog/link.read.1.tlog
/Dokumenty/Materiały/BasicsOfC++/x64/Debug/BasicsOfC++.tlog/link.write.1.tlog
/Dokumenty/Materiały/BasicsOfC++/x64/Debug/BasicsOfC++.vcxproj.FileListAbsolute.txt
/Dokumenty/Materiały/BasicsOfC++/x64/Debug/Inheritance.obj
/Dokumenty/Materiały/BasicsOfC++/x64/Debug/vc142.idb
/Dokumenty/Materiały/BasicsOfC++/x64/Debug/vc142.pdb
